<div class="card">
    <div class="card-header">
      <h1 class="card-title">All Categories</h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-inline-flex">
        <i class="fa-solid fa-shapes mt-1"></i>
        <div class="ml-5">dfghjk</div>
      </li>
     <li class="list-group-item des">
        <div>dfghjk</div>
    </li>
    </ul>
    <div class="card-footer text-center mt-3">
      <a routerLink="/admin/add-category" class="btn btn-primary">
        Add New Category
      </a>
    </div>
  </div>
  