
/* .content{
    float: right;
    height: 30%;
    width: 100%;
} */
.bootstrap-wrapper{
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 68px;
    /* background-color: green; */
    width: 80%;
}
