<div class="container-fluid mt-5" >
    <div class="row">
      
      <div class="col-md-8">
        
        <div class="container">
          <h1 class="mt-4">
            Ongoing Quiz <b></b>
          </h1>
        </div>
  
        <div  class="card mt-3">
          <div class="card-body">
            <p>
              <b>fghjk</b>
              <span class="ml-2"></span>
            </p>
  
            <hr />
  
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    
                  />
                  <label class="form-check-label">dfghjkl</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                   
                  />
                  <label class="form-check-label">dfghjkl</label>
                </div>
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                   
                  />
                  <label class="form-check-label">tyghujikol</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                  
                  />
                  <label class="form-check-label">dfghjkl;</label>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container text-center mt-4 mb-4">
          <button  class="btn btn-primary">Submit Quiz</button>
        </div>
      </div>
      <div class="col-md-4">
        
        <div class="card mb-5" style="margin-top: 70px;">
          <div class="card-header">
            <h5 class="card-title">Progress</h5>
            <h6 class="card-subtitle mb-2">
              Quiz will automatically be submitted when the timer reaches <b>0:0</b>
            </h6>
          </div>
          <div class="card-body text-center">
            <h1>dtfghjkl;</h1>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                role="progressbar"
                
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="bootstrap-wrapper">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Quiz Result</h5>
          </div>
          <div class="card-body text-center">
            <h1>Marks Got: </h1>
            <h1>Correct Answers: </h1>
            <h1>Questions Attempted: </h1>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary">Print</button>
            <a [routerLink]="'/user-dashboard/0'" class="btn btn-accent">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
  