/* .container{
margin-top: 180px;
margin-left: 250px;

width: 68%;
}
.card{
    margin-left:30px;
    margin-top: 50px;
}
.content{
    margin-left: 200px;
    margin-bottom: 20px;
}

.parent{
    border: 1px solid black;
    margin: 49px;

    padding: 2rem 2rem;
    text-align: center;
}
.box{
    display: inline-block;
    border: 1px solid black;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin: 10px;
}
.box2{
    display: inline-block;
    border: 1px solid black;
    padding: 1rem 1rem;
    vertical-align: middle;
} */

#outerbox
{
   margin-left: 150px;
   margin-top: 100px;
   width: 100%;
}

.card{
    margin: 20px;

}
