

.navbar-brand{
    width: 310px;
    height: 58px;
    /* padding-left: 6px; */
    display: block;
    position: relative;
    margin-left:1px;
}
.span{
    margin-left: 26px;
    margin-top: 7px;
}
.navbar{
    height: 58px;
    background-color: rgb(60, 175, 122);
    /* position: relative; */
    /* position: fixed; */
}
.ms-auto{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: rgb(155, 157, 158);
    border-radius: 50%;  
}
#userDropdown{
    margin-top: -6px;
}
.dropdown-menu{
    width: 75px;
    margin-left: -110px;
}
