.example-header-image {
    background-image: url("../../assets/exam.png");
    background-size: cover;
    margin-left: 100px;
  }
  
.card{
    width: 70%;
    float: right;
    margin-right: 160px;
    margin-top: 20px;
}
.container{
    margin-top: 80px;
}
.card-title{
    margin-left: 10px;
}
.card-subtitle{
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 30px;
}
