<div class="container text-center">
    <a routerLink="/admin/add-quiz" class="btn btn-primary">
      Add New Quiz
    </a>
  </div>
        <div class="card">
          <div class="card-header d-inline-flex">
            <img class="card-img-top mt-2" src="../../assets/exam.png" style="width:3%; height: 30px;">
            <h5 class="card-title">wsredtfgy</h5>
            <h6 class="card-subtitle text-muted">ssertyui</h6>
          </div>
          <div class="card-body">
            <p class="card-text">dfghj</p>
          </div>
          <div class="card-footer">
            <button
              
              class="btn btn-primary"
            >
              Questions
            </button>
            <button class="btn btn-outline-primary ml-2">
              Max Marks: 
            </button>
            <button class="btn btn-outline-primary ml-2">
              Questions: 
            </button>
            <button
              
              class="btn btn-primary ml-2"
            >
              Update
            </button>
            <button
              class="btn btn-primary ml-2"
              
            >
              Attempts
            </button>
            <button
              class="btn btn-danger ml-2"
              
            >
              Delete
            </button>
          </div>
        </div>
  
  