<div class="card">
 <span><h4 class="mt-1">your profile</h4></span>
  <div class="card-body">
   
<div class="bootstrap-wrapper">
    <div class="container">
      
      <div class="container text-center">
        <img
          src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
          alt=""
          class="profile-image"
        />
        <h1 class="mt-3 mb-5">kyujhg</h1>
      </div>

      <div class="row">
        <div class="col-6">
          <!-- //table Details  -->
          <table class="table table-bordered table-success text-center">
            <tr>
              <td>Username</td>
              <td>ghjkhllkjh</td>
            </tr>
            <tr>
              <td>Userid</td>
              <td>jhgfg</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>kjhgbf</td>
            </tr>
            <tr>
              <td>Role</td>
              <td>kujhg</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>kyjhgf</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>