.container-fluid{
    width: 50%;
    float: right;
    margin-right: 30%;
}
.card{
    width: 500px;
    margin-top: 20px;
}
.card-subtitle{
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
}
.card-text{
    position: absolute;
    margin-top: 50px;
}