<div class="container-fluid mt-2">
    <h1 class="">Available Quizzes</h1>
    <div class="row mt-2" >
      <div class="col-md-4" >
        <div class="card mb-5">
      
          <div class="card-body d-inline-flex">
            <img src="../../assets/exam1.png" alt="Avatar" style="height: 50px; width: 40px;">
            <h5 class="card-title">fgvhbj</h5>
            <h6 class="card-subtitle text-muted">dgfh</h6>
            <p class="card-text truncate">xdgfhj</p>
          </div>
          <div class="card-footer d-inline-flex mt-3">
            <button class="btn btn-primary">View</button>
            <a [routerLink]="'/user-dashboard/instructions/' + 1" class="btn btn-accent ml-2">Start</a>
            <button class="btn btn-accent ml-2">Questions: sdfgh</button>
            <button class="btn btn-accent ml-2">M.M: sdfygyh</button>
          </div>
        </div>
      </div>
  
      <!-- <div class="col-md-12" >
        <div class="card">
          <div class="card-body">
            <h1>No data in this category</h1>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  